
　　<main><div class="container">
  
  	<!-- header 
    <div id="introduction" class="section scrollspy">
      <h4>発表内容の評価をお願いします！</h4>
    </div>
    -->
    
   <!--  horizontal card
    
   <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src="images/office.jpg"/>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>発表者1</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>   
  
   <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src="images/office.jpg"/>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>発表者2</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>   
  
  -->
  
  
  <div class="row">
  	<div class = "col s12 m6 l4">
	  <div class="card horizontal">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="/img/office.jpg"/>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Presenter 1<i class="material-icons right">more_vert</i></span>
	      <span class="new badge" data-badge-caption="いいね!">154</span>
	      <p><a href="#">vote</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
	      <p>comment</p>
	    </div>
	  </div>
	</div>

  	<div class = "col s12 m6 l4">
	  <div class="card horizontal">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="/img/office.jpg"/>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Presenter 2<i class="material-icons right">more_vert</i></span>
	      <span class="new badge" data-badge-caption="いいね!">108</span>
	      <p><a href="#">vote</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
	      <p>comment</p>
	    </div>
	  </div>
	</div>
	
	<div class = "col s12 m6 l4">
	  <div class="card horizontal">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="/img/office.jpg"/>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Presenter 3<i class="material-icons right">more_vert</i></span>
	      <span class="new badge" data-badge-caption="いいね!">293</span>	
	      <p><a href="#">vote</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
	      <p>comment</p>
	    </div>
	  </div>
	</div>

	<div class = "col s12 m6 l4">
	  <div class="card horizontal">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="/img/office.jpg"/>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Presenter 4<i class="material-icons right">more_vert</i></span>
	      <span class="new badge" data-badge-caption="いいね!">32</span>
	      <p><a href="#">vote</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
	      <p>comment</p>
	    </div>
	  </div>
	</div>

	<div class = "col s12 m6 l4">
	  <div class="card horizontal">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="/img/office.jpg"/>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Presenter 5<i class="material-icons right">more_vert</i></span>
	      <span class="new badge" data-badge-caption="いいね!">215</span>
	      <p><a href="#">vote</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
	      <p>comment</p>
	    </div>
	  </div>
	</div>

	<div class = "col s12 m6 l4">
	  <div class="card horizontal">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="/img/office.jpg"/>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Presenter 6<i class="material-icons right">more_vert</i></span>
	      <span class="new badge" data-badge-caption="いいね!">130</span>
	      <p><a href="#">vote</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
	      <p>comment</p>
	    </div>
	  </div>
	</div>

	<div class = "col s12 m6 l4">
	  <div class="card horizontal">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="/img/office.jpg"/>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Presenter 7<i class="material-icons right">more_vert</i></span>
	      <span class="new badge" data-badge-caption="いいね!">591</span>
	      <p><a href="#">vote</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
	      <p>comment</p>
	    </div>
	  </div>
	</div>

	<div class = "col s12 m6 l4">
	  <div class="card horizontal">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="/img/office.jpg"/>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Presenter 8<i class="material-icons right">more_vert</i></span>
	      <span class="new badge" data-badge-caption="いいね!">388</span>
	      <p><a href="#">vote</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
	      <p>comment</p>
	    </div>
	  </div>
	</div>

	<div class = "col s12 m6 l4">
	  <div class="card horizontal">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="/img/office.jpg"/>
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Presenter 9<i class="material-icons right">more_vert</i></span>
	      <span class="new badge" data-badge-caption="いいね!">133</span>
	      <p><a href="#">vote</a></p>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
	      <p>comment</p>
	    </div>
	  </div>
	</div>

  </div>

  </div></main><!-- container -->